:root {
    --white: #fff;
    --grey: #899d9d;
    --background: #1d2f30;
    --background-shade: #0b1919;
    --green-text: #506829;
    --primary-green: #bae249;
    --green-activeclick: #688b05;
    --green-focus: #83a440;
    --green-hover: #91ac46;
    --red: #e24949;
    --font-family: "Open Sans", sans-serif;
    --second-family: "Cormorant", sans-serif;
    --transition-duration: 0.3s;
}

body {
    font-size: 16px;
    font-family: var(--font-family), Helvetica, sans-serif;
    color: var(--white);
    margin: 0;
    background-color: var(--background);
}

/* General style */
.extended-btn {
    display: inline-flex;
    align-items: center;
    width: 160px;
    height: 23px;
    padding: 0px;
    gap: 10px; 
    font-size: 18px;
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-green);
    transition: color 0.3s ease;
    text-decoration: none;

}

.extended-btn::after {
    content: '→'; 
    display: inline-block;
    transition: inherit;
    font-size: 28px; 
 
}

.extended-btn:hover,
.extended-btn:focus {
    color: var(--green-hover);
}

.extended-btn:active {
    color: var(--green-activeclick);
}

.default-btn {
    position: relative; /* Для позиционирования псевдоэлемента */
    display: block;
    padding: 10px 0; 
    background-color: transparent; 
    color: var(--green-activeclick); 
    font-size: 18px; 
    font-weight: bold;
    text-decoration: none; 
    border: 1px solid var(--primary-green); 
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease; 
    cursor: pointer;
    width: 145px;
}

.default-btn::before {
    content: ''; 
    position: absolute; 
    top: -4px; 
    left: -4px; 
    right: -4px; 
    bottom: -4px; 
    border: 1px solid var(--primary-green);
    border-radius: 5px; 
    z-index: -1; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.default-btn:focus::before {
    opacity: 1; 
}

.default-btn:hover {
    background-color: var(--primary-green); 
    color: #000000; 
}

.default-btn:active {
    background-color: var(--green-hover); 
    color: #000000; 
}

/* Input */
.text-field{
    padding: 11px 16px ;

    border: 1px solid var(--border-color);
    background-color: white;
    color: black;
    width: 350px;

}
.text-field::placeholder{
    color: var(--grey);
}





/* Обертка */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */
.header {
   position: relative;
    width: 100%;
    z-index: 1000;
    background-color: var(--background);
    
}

.header__continer {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
    padding: 0;
    margin: 0;
}


.menu__item {
    display: flex;
    align-items: center;
}

.icon-search img {
    margin-left: 20px;
}

.menu__link {
    color: var(--white);
    text-decoration: none;
    transition: color var(--transition-duration), background-color var(--transition-duration);
}

.menu__link:hover {
    color: var(--green-hover);
}

.menu__link:active {
    color: var(--green-activeclick);
}

/* Background */
.background {
    position: relative; 
    background-image: url('../image/background.svg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(11, 25, 25, 0.7);
    z-index: 1; 
}

/* Nature */

.nature__container {
    display: flex;
    align-items: center;
    padding: 115px 0;
    position: relative; 
    z-index: 2; 
}

.nature__content {
    flex-basis: 690px;
}

.nature__title {

  font-weight: 700;
    font-size: 58px;
    line-height: 100%;
    margin-bottom: 16px;
    font-family: var(--second-family);
    color: var(--white); 
  
}

.nature__desc {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    margin-bottom: 30px;
    font-family: var(--second-family);
    color: var(--white);
}

/* Растения */

.catalog{
    margin-top: 58px;

}
.catalog__item{
    max-width: 255px;
    height: 525px;
    border: 1px solid black;

}


.catalog__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.product-cart__body{
    height: 320px;
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
}

.product-cart__body-top{
   flex: 1 1 auto;
   
}

.product-cart_header{
    position: relative;
    background-color: var(--background-shade);
    padding: 30px 16px;
    height: 180px;

  
}
.product-cart_number{
    position: absolute;
    border: 1px solid var(--grey);
    font-family: var(--second-family);
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    width: 25px;
    height: 25px;
    color:var(--grey);
    top: 12px;
  

}
.product-cart__title{
font-family: var(--second-family);
font-weight: 700;
font-size: 24px;
line-height: 150%;
color: var(--white);
}


.product-cart__description{
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--grey);
}

/* New Artifacts */

.artifacts{
    margin-top: 100px;
    margin-bottom: 60px;
}


.artifacts__collection{
    display: flex;
    flex-direction: row;
    gap: 30px;

}

/* .artifacts__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px; 
    width: 100%;
    max-width: 825px;
    background-color: var(--background-shade);
    padding: 15px ;
    margin: 0px;
  

} */

.artifacts__items {
        display: grid;
        margin: 0px;
        padding: 16px;
        grid-template-columns: repeat(3, 1fr); /* 3 колонки */
        grid-template-rows: auto auto; /* 2 строки */
        width: 825px;
      
       background-color: var(--background-shade);
        overflow-x: hidden; /* Отключаем горизонтальный скролл */
    }

  
            .artifacts__item:nth-child(1) {
        width: 100px;
        height: 115px;
        }
       

        .artifacts__item:nth-child(2) {
        width: 170px;
        height: 150px;
     
        }
        .artifacts__item:nth-child(2) .artifact-card {
        left:-167px;
     
        }

        .artifacts__item:nth-child(3) {
                width: 423px;
                height: 150px;
        }
         .artifacts__item:nth-child(3) .artifact-card {
            left:-120px;
     
        }
    
        .artifacts__item:nth-child(4) {
                width: 306px;
                height: 293px;
        }
         .artifacts__item:nth-child(5) {
                width: 153px;
                height: 293px;
        }
         .artifacts__item:nth-child(5) .artifact-card {
            left:-45px;
     
        }
        .artifacts__item:nth-child(6) {
                width: 157px;
                height: 293px;
        }
           .artifacts__item:nth-child(6) .artifact-card {
            left:-25px;
     
        }
        .artifacts__item:nth-child(7) {
                width: 119px;
                height: 293px;
        }
    .artifacts__item:nth-child(7) .artifact-card {
            left:-210px;
     
        }
    /* Первые 3 элемента в первой строке */
    .artifacts__item:nth-child(1),
    .artifacts__item:nth-child(2),
    .artifacts__item:nth-child(3) {
        grid-row: 1;
    }

    /* Остальные 4 элемента во второй строке */
    .artifacts__item:nth-child(4),
    .artifacts__item:nth-child(5),
    .artifacts__item:nth-child(6),
    .artifacts__item:nth-child(7) {
        grid-row: 2;
        margin-top: 20px;
    }
/* Postion number on the imgs  */
.artifact-card_number-bottom{
    top: 122px;
}
.artifact-card_number-right{
    right: -8px;
    top: 0px;
}

.artifact-card_number-upper-center{  
    top: 28px;
    left: 139px;
}
.artifact-card_number-under-center{  
    top: 174px;
    left: 125px;
}

.artifact-card_number-bottom-center{  
    top: 253px;
    left: 107px;
}
.artifact-card_number_for_lily{
    top: 234px;
    left: 49px;
}



.artifacts__item{
    position: relative;
}

.artifact-card{
    position: relative;
}

.artifacts__title{
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: var(--white);
}

.artifacts__desc{
    background-color: var(--primary-green);
    padding: 16px;
    display: flex;
    flex-direction: column ;

}
.description{
    width: 255px;
    flex: 1 1 auto;
}


.description__title{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--background);
}
.description__subtitle{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--green-text);
}
.extended-btn-black_green{
    color: var(--background-shade);
}


.callback{
   position: relative;
    width: 100%;
    z-index: 1000;
    
  
}
.callback__form{
    padding-top: 40px;
    
}

.callback__title{
font-family: var(--second-family);
font-style: italic;
font-weight: 700;
font-size: 48px;
line-height: 100%;
color: var(--white);
}
.callback__desc{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
    width: 825px;
}
.callback-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.callback-form__btn{
    background-color: var(--primary-green);
    color: #000000;
}

.background-second {
    position: relative; 
    background-image: url('../image/fon2.svg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 446px; 
}

.background-second::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(11, 25, 25, 0.7);
    z-index: 1; 
}

.footer__media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 20px 0px;

    background-color: var(--background-shade);
}
.footer__logo{
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.mobile-menu {
  display: none;
}



@media  (max-width: 1158px) {
    .header__continer{
        padding-bottom: 10px !important;
        margin: 10px 0px;
    }
        .artifacts__wrapper {
        overflow-x: auto; /* вот он — скролл */
        width: 100%;
      
    }

    .artifacts__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto auto;
    gap: 20px;
    width: max-content;
    width: 851px;
     

    background-color: var(--background-shade);
    }
    

    .extended-btn {
        font-size: 24px;
    }
    .background{
        height: 350px;
    }
  .container {
    padding: 0 32px;
  }
.artifacts__item:nth-child(2) {
        width: 170px;
        height: 150px;
     
        }
          .artifacts__item:nth-child(1) .artifact-card {
        left:180px;
     
        }
        .artifacts__item:nth-child(2) .artifact-card {
        left:0px;
     
        }

      
         .artifacts__item:nth-child(3) .artifact-card {
            left:20px;
     
        }
    
              .artifacts__item:nth-child(4) .artifact-card {
            left:140px;
     
        }
      
        
         .artifacts__item:nth-child(5) .artifact-card {
            left:70px;
     
        }
      
           .artifacts__item:nth-child(6) .artifact-card {
            left:60px;
     
        }
        
    .artifacts__item:nth-child(7) .artifact-card {
            left:-130px;
    }
  .artifacts__items{
    justify-content: center;
  }
  .description {
    width: 100%;
  }

  .description__title {
    font-size: 34px;
  }
  .description__subtitle {
    font-size: 24px;
  }

.catalog__list {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding-bottom: 16px;
  scroll-snap-type: x mandatory; 
  -webkit-overflow-scrolling: touch; 
}


.catalog__item {
  flex: 0 0 auto;
  width: 250px;
  scroll-snap-align: start;
}
  .artifacts__collection {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .artifact-card_img {
    max-width: 100%;
    height: auto;
  }

  .callback__form {
    padding: 40px;
  }
}

@media (max-width:934px) {
    .callback__form{
        width: 600px;
    }
    .callback__desc{
        width: 100%;
    }
    .callback__form {
        padding: 20px;

    }
    .callback__title{
        margin-top: 20px;
    }
}




@media (max-width: 873px) {
 /* Показываем только 2 иконки в хедере */
  .header__menu .menu__item {
    display: none;
  }

  .header__menu .menu__item:nth-last-child(-n+2) {
    display: inline-block;
  }

  /* Показываем мобильное меню */
  .mobile-menu {
    display: flex;
    align-items: center;
    justify-self: center;
    color: var(--white);
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    z-index: 100;
  }

  .mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .mobile-menu .menu__item {
    display: block;
    padding: 10px 0;
  }

  .mobile-menu .menu__link {
    text-decoration: none;
    color: inherit;
  }
  .mobile-menu::-webkit-scrollbar {
  display: none; 
}
}

@media (max-width: 625px) {
  .nature__title{
    font-size: 40px;
    margin-top: 0px;
  }
}

@media (max-width: 600px) {
    .callback__form{
        width: 100%;
    }
  .callback__desc{
   display: none;
  }
}


@media (max-width: 487px) {
    .nature__title{
        font-size: 52px;
    }
    .nature__desc{
        display: none;
    }
    .footer, .callback , .background-second{
        display: none;
    }
    .artifacts{
        margin-bottom: 30px;
    }
    .artifacts__collection{
        gap: 35px;
    }
}

